<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEqvM8zL-8lbtQay0YO3pw2CsW3omrbH0</string>
	<key>GCM_SENDER_ID</key>
	<string>1053519100804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.souq.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>souq-f1f99</string>
	<key>STORAGE_BUCKET</key>
	<string>souq-f1f99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053519100804:ios:af7dced2dd40c5f2f53bd1</string>
</dict>
</plist>